<div class="content-main">
  <div class="border-form-div full-page-form">
    <h2 class="form-signin-heading">Please sign up</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>
      <%= f.label :password_field, class: "sr-only" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      <%= f.label :password_field, class: "sr-only" %>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
      <div><%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block" %></div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
